/*Header background changed*/
header{
	background-color: #DEB887;
	text-transform: uppercase;
	background: url(images/IMG_0525.JPG);
	background-size: cover;
	padding-top: 20px;
}

/*h1 elements centered and has new font colour*/
h1{
	text-align: center;
	color: #FFFFFF;
	font-size: 200%%;
}

/*h2 elements are given font colour*/
h2{
	color: #000000;
}

/*section elements are given background colour*/
section{
	background-color: #FFFFFF;
	display: inline-block;
}

/*Adding padding and margins to body*/
body{
	padding: 5px;
	margin: 5px;
}

/*Styling links ONLY in the nav bar*/
nav a{
	display: inline-block;
	margin: 4%;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 70px;
	margin-left: 80px;
	background-color: rgba(254, 247, 255, .4);
	color: #000000;
}

/*Styling link when active*/
nav a:active{
	display: inline-block;
	margin: 4%;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 70px;
	margin-left: 80px;
	background-color: rgba(254, 247, 255, .8);
	color: #000000;
}

/*Styling link when hovered*/
nav a:hover{
	display: inline-block;
	margin: 4%;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 70px;
	margin-left: 80px;
	background-color: rgba(254, 247, 255, .8);
	color: #000000;
}

/*Styling left class according to criteria*/
.left{
	border: 2px solid rgb(162, 176, 7);
	float: left;
	width: 19%;
	height: 1000px;
	margin: 0px 30px 0px 0px;
	background-color: rgb(162, 176, 7);
	display: inline-block;
}

/*Making images visible again from last HW and styling images*/
img{
	align-content: center; /*Aligned image to be centered horizontally and have vertical space between them and other images*/
	height: 150px;
	width: 200px;
	border: 2px solid #000000;
	margin: 20px 35px 20px 35px;
}

/*Styling right class according to criteria*/
.right{
	display: inline;
	padding: 0px 300px;
}s

/*Styling the active class to show which tab is active*/
.active{
	display: inline-block;
	margin: 4%;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 70px;
	margin-left: 80px;
	background-color: #FFFFFF;
}


/* All the code above was from the previous week 2 assignment. I'll be making all the table styling down here:- */


/* Table styling. Keeping it to a minimum as required. */
table{
	box-sizing:border-box;
	font-family: Courier; /*Changed font-family*/
	font-size: 130%; /*Changed font size for the entire table*/
	width: 60%; /*Changed the width of the table*/
	margin-left: 29%; /*Changed the margin of the table to make it centered*/
	line-height: 200%; /*Changed line height to have some space in-between table cells*/
}

/* Table heading styling */
th{
	color: #FFFFFF;
	font-family: Georgia; /*Added an extra property to change the font of only the table headers*/
	font-weight: bold;/* Added additional property as required and used the font-weight for table header(It wouldn't make sense if I made the table content bold) */
	border: 1px solid green; /* Added border to table header */
	border-bottom: 6px solid #556B2F;/* Made bottom border thicker */
	background-image: -webkit-linear-gradient(top, rgb(174, 181, 0), rgb(155, 161, 0)); /* Setting gradient as table header background for chrome. */
	background-image: -moz-linear-gradient(top, rgb(174, 181, 0), rgb(155, 161, 0)); /* Setting gradient as table header background for Mozilla */
	background-image: -o--linear-gradient(top, rgb(174, 181, 0), rgb(155, 161, 0)); /* Setting gradient as table header background for Opera */
	background-image: -ms--linear-gradient(top, rgb(174, 181, 0), rgb(155, 161, 0)); /* Setting gradient as table header background for Internet Explorer */
	border-radius: 8px 8px 0px 0px; /* Making only the top 2 corners of the table header rounded */
}

/* Table row styling. Default opacity and making the 2nd and 3rd column center aligned. */
tr{
	text-align: center;
}

/* Table hover styling. Making it more opaque when you hover */
tr:hover>td{
	color: rgba(0,0,0,1);
	background-color: rgb(156, 245, 32);
}

/* Aligning the first column to the left in the table. */
tr>:first-child{
	text-align: left;
}

/* Table content(td) styling using atleast 4 properties. */
td{
	color: rgba(0,0,0,.6); /*Set opacity between .6 and .8 as required*/
	border-radius: 2px;
	background-color: rgba(191, 255, 102, .7); /*Set opacity between .6 and .8 as required*/
	text-shadow: currentColor; /*used text-shadow which was optional */
	padding: 2px; /* Added padding as required */
}